[submodule "rdk"]
	path = rdk
	url = https://github.com/jmatth/rdk.git
[submodule "goutils"]
	path = goutils
	url = https://github.com/jmatth/goutils.git
[submodule "api"]
	path = api
	url = https://github.com/jmatth/api.git
